* {
    background: rgb(53, 53, 53);
    color: rgb(161, 161, 161);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.header {
    background-color: black;
    max-width: 1200px;
    min-height: 110px;
    margin: auto;
}

.main-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    background-color: black;
    gap: 20px;
    padding-left: 20px;
    padding-top: 30px;
}

.main-list li {
    font-size: 22px;
    padding: 10px;
    transition: 0.1s background;
}

.main-list li:hover {
    text-decoration: underline;
}

.main-list li, #profileName, #profilepic, .info-section strong, .sub-profile {
    background-color: black;
}

.main-list a {
    text-decoration: none;
    background-color: rgb(107, 107, 107);
}

.profileData {
    max-width: 1200px;
    min-height: 300px;
    margin:auto;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-right: 60px;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#profilepic {
    width: 250px;
    border-radius: 50%;
}

#profileName {
    font-size: 40px;
}

.sub-profile p, .sub-profile h2, .sub-profile strong {
    background-color: black;
    margin-top: 5px;
}

.sub-profile p {
    line-height: 1.5;
    margin-top: -1px;
}

.mediaIconsHeader {
    display: flex;
    width: 300px;
    height: 90px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.mediaIconsHeader a {
    background-color: black;
}

.projects-section {
    background-color: black;
    max-width: 1200px;
    min-height: 1800px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.projectsTtitle{
    max-width:1200px;
    height:50px;
    line-height: 200%;
    margin:auto;
    background-color: black;
    text-align: center;
    align-items: center;
    font-size: 25px;
    margin-top: 30px;
    padding-top:10px;
}


.info-section {
    background-color: black;
    width: 1200px;
    height: 165px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    padding-left: 25px;
}

.info-section p, .info-section h1 {
    padding: 5px;
    background-color: black;
}

.info-section h1 {
    font-size: 22px;
}

/* EDUCATION  */
.education-section {
    background-color: black;
    max-width: 1200px;
    min-height: 180px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    padding-left: 25px;
}

.education-section p, .education-section h1 {
    padding: 5px;
    background-color: black;
}

.education-section h1 {
    text-align: center;
    font-size: 25px;
}

/* EDUCATION  */



/* LANGUAGES  */
.languages-section {
    background-color: black;
    max-width: 1200px;
    min-height: 100px;
    margin: auto;
    margin-top: 30px;
    padding: 5px;
    align-items: center;
    text-align: center;
}

.languages-section p, .languages-section h1 {
    padding: 5px;
    background-color: black;
}

.languages-section h1 {
    font-size: 25px;
}

.language {
    display: flex;
    align-items: center;
    width: 220px;
    background-color: black;
    margin: 20px;
}

.language img {
    width: 50px;
    background-color: black;
    margin-right: 10px;
}

.languages-subsection {
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    text-align: center;
    align-items: center;
}

.languages-subsection-item {
    width: 300px;
    background-color: black;
}


/* LANGUAGES  */



/* TECHNOLOGIES  */
.techs-section {
    background-color: black;
    max-width: 1200px;
    min-height: 400px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    padding-left: 25px;
    align-items: center;
    text-align: center;
}

.techs-section p, .techs-section h1 {
    padding: 5px;
    background-color: black;
}

.techs-section h1 {
    font-size: 25px;

}

.tech {
    width: 200px;
    display: flex;
    align-items: center;
    background-color: black;
    margin: 20px;
}

.tech img {
    width: 70px;
    background-color: black;
}

.techs-sub-section {
    max-width: 1000px;
    margin: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.techStudying{
    max-width:1050px;
    align-items: center;
    text-align: center;
    margin:auto;
    background-color: black;
    border-top: 1px rgb(160, 160, 160) solid;
    margin-top:10px;
    padding-top:10px;
}

/* TECHNOLOGIES  */





/* EXPERIENCE  */
.experience-section {
    background-color: black;
    max-width: 1200px;
    min-height: 700px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    padding-left: 25px;
}

.experience-section h1 {
    background-color: black;
    font-size: 25px;
    text-align: center;
}

.job p, .job h2, .job hr {
    margin-top: 8px;
    background-color: black;
}

.job h2 {
    font-size: 22px;
}

.job {
    background-color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* EXPERIENCE  */


/* FOOTER START */
.footer {
    background-color: black;
    max-width: 1200px;
    min-height: 180px;
    margin: auto;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.footer-message {
    background-color: black;
    padding-top: 15px;
}

/* FOOTER END */

/* MEDIA ICONS START */
.mediaIcons, .mediaIcons a {
    max-width: 430px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: black;
}

.mediaIconGitHub {
    background: url("images/social-media/github.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border: solid 1px;
    transition: .5s background;
}

.mediaIconLinkedin {
    background: url("images/social-media/linkedin.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border: solid 1px;
    transition: .5s background;
}

.mediaIconWhatsapp {
    background: url("images/social-media/whatsapp.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border: solid 1px;
    transition: .5s background;
}

.mediaIconGitHub:hover {
    background: url("images/social-media/github-reverse.png");
    background-size: cover;
    background-color: black;
}

.mediaIconLinkedin:hover {
    background: url("images/social-media/linkedin-reverse.png");
    background-size: cover;
    background-color: black;
}

.mediaIconWhatsapp:hover {
    background: url("images/social-media/whatsapp - reverse.png");
    background-size: cover;
    background-color: black;
}

/* MEDIA ICONS END */

/*PROJECT CARD*/
.project-card {
    align-items: center;
    text-align: center;
    width: 300px;
    height: 500px;
    background-color: rgb(95, 95, 95);
}

.project-card:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in;
}

.project-card img {
    height: 50%;
    width: fit-content;
}

.card-text {
    text-align: left;
    padding: 10px;
    height: 315px;
    align-items: center;

}

.card-text h1 {
    font-size: 25px;
}

.card-text h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(136, 136, 255);
}

.linkProject {
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 90px;
}

/*PROJECT CARD*/