* {
    background: rgb(53, 53, 53);
    color: rgb(196, 196, 196);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.header {
    background-color: black;
    width: 1200px;
    height: 380px;
    margin: auto;
}

.main-list {
    display: flex;
    list-style: none;
    align-items: center;
    background-color: black;
    gap: 20px;
    padding-left: 20px;
    padding-top: 30px;
}

#profileName {
    font-size: 40px;
}

.main-list a{
    text-decoration: none;
    background-color: rgb(107, 107, 107);
}

.main-list li{
    font-size: 22px;
    padding:10px;
    transition: 0.1s background;
}

.main-list li:hover{
    background: rgb(53, 53, 53);
}

.profileData {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-right: 60px;
    padding-left: 25px;
}


#profilepic {
    width: 250px;
    border-radius: 50%;
}

.main-list li, #profileName, #profilepic, .info-section strong, .sub-profile {
    background-color: black;
}

.sub-profile p {
    background-color: black;
    margin-top: 20px;
}

.projects-section {
    background-color: black;
    max-width: 1200px;
    height: 1500px;
    margin: auto;
    margin-top: 30px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:10px;
}

.info-section {
    background-color: black;
    width: 1200px;
    height: 165px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    padding-left: 25px;
}

.info-section p, .info-section h1 {
    padding: 5px;
    background-color: black;
}

.info-section h1 {
    font-size: 22px;
}


/* EDUCATION  */
.education-section {
    background-color: black;
    width: 1200px;
    height: 180px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    padding-left: 25px;
}

.education-section p, .education-section h1 {
    padding: 5px;
    background-color: black;
}

.education-section h1 {
    font-size: 22px;
}
/* EDUCATION  */

/* LANGUAGES  */
.languages-section {
    background-color: black;
    width: 1200px;
    height: 195px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    padding-left: 25px;
}

.languages-section p, .languages-section h1 {
    padding: 5px;
    background-color: black;
}

.languages-section h1 {
    font-size: 22px;
}

/* LANGUAGES  */



/* TECHNOLOGIES  */
.techs-section {
    background-color: black;
    width: 1200px;
    height: 320px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    padding-left: 25px;
}

.techs-section p, .techs-section h1 {
    padding: 5px;
    background-color: black;
}

.techs-section h1 {
    font-size: 22px;
}
/* TECHNOLOGIES  */





/* EXPERIENCE  */
.experience-section {
    background-color: black;
    width: 1200px;
    height: 580px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    padding-left: 25px;
}

.experience-section h1 {
    background-color: black;

    font-size: 22px;
}

.job p, .job h2, .job hr {
    margin-top: 8px;
    background-color: black;

}

.job {
    background-color: black;
}
/* EXPERIENCE  */





/* FOOTER START */

.footer {
    background-color: black;
    width: 1200px;
    height: 180px;
    margin: auto;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.footer-message {
    background-color: black;
    padding-top: 20px;
}

/* FOOTER END */


/* MEDIA ICONS START */

.mediaIcons, .mediaIcons a {
    width: 430px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: black;
}


.mediaIconGitHub {
    background: url("images/social-media/github.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border: solid 1px;
    margin: 40px;
    margin-top: 20px;
    transition: .5s background;
}

.mediaIconLinkedin {
    background: url("images/social-media/linkedin.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border: solid 1px;
    margin: 40px;
    margin-top: 20px;
    transition: .5s background;
}

.mediaIconWhatsapp {
    background: url("images/social-media/whatsapp.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border: solid 1px;
    margin: 40px;
    margin-top: 20px;
    transition: .5s background;
}

.mediaIconGitHub:hover {
    background: url("images/social-media/github-reverse.png");
    background-size: cover;
    background-color: black;
}

.mediaIconLinkedin:hover {
    background: url("images/social-media/linkedin-reverse.png");
    background-size: cover;
    background-color: black;
}

.mediaIconWhatsapp:hover {
    background: url("images/social-media/whatsapp - reverse.png");
    background-size: cover;
    background-color: black;
}
/* MEDIA ICONS END */


/*PROJECT CARD*/
.project-card{
    align-items: center;
    text-align: center;
    width:300px;
    height:380px;
    background-color: rgb(128, 94, 94);
}

.project-card img{
    width:100px;
}

.card-text{
    text-align: left;
    padding:5px;
}
.card-text h1{
    font-size: 25px;
}
/*PROJECT CARD*/

